@media (max-width: 1200px) {
    .car img {
        width: 450px;
    }
}

@media (max-width: 1090px) {

    .ellipseArrow,
    .ellipseArrow img {
        width: 100px;
    }
}

@media (max-width: 930px) {
    body {
        flex-direction: column;
        height: 100dvh;
    }

    .side-left,
    .side-right {
        width: 100%;
        height: 100%;
    }

    .logo {
        width: auto;
        margin-top: 0px;
    }

    .title-left {
        width: 100%;
    }

    .title-left h1 {
        font-size: 50px;
        width: auto;
        text-align: center;
    }

    .title-left p {
        display: none;
    }

    .ellipseArrow {
        display: none;
    }

    .car {
        display: none;
    }

    .side-right {
        background-color: #fff;
    }

    .title-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title-right p {
        text-align: center;
        font-size: 18px;
    }

    .title-right img {
        display: none;
    }

    #simulator {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    form {
        width: 344px;
    }

    #simulator {
        width: 344px;
    }
}