/* Lado esquerdo da página Resultados */

/* Side Left */
.side-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 60px 80px;

    width: 50vw;
    height: 100dvh;

    background-color: #F9F9F9;

    gap: 42px;
}

.logo img {
    height: 32px;
}

.results-display {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.result-item .label {
    font-size: 18px;
    color: #707070;
}

.result-item .value-installment,
.result-item .value-total {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.explanation p.installments {
    color: #939393;
    font-style: italic;
    font-size: 16px;
}

.action-buttons {
    margin-top: 20px;
}

.btn-simulate-again {
    width: 384px;
    height: 64px;

    background: transparent;
    border: 1.5px solid #00C27C;
    color: #00C27C;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn-simulate-again:hover {
    background-color: #00C27C;
    color: white;
}

.btn-simulate-again:hover {
    background-color: #00C27C;
    color: white;
}

.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;

    position: absolute;

    transform: translate(-50%, -50%);

    width: 20px;
    height: 20px;

    background-color: white;

    border-radius: 50%;

    z-index: 10;
}

.floating-button img {
    width: 266px;
    height: 266px;
}

.copyright {
    font-size: 16px;
    color: #4E4E4E;
}






/* Estilizações do Inspecionar */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
}