/* Lado direito da página Resultados */

.side-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 100dvh;

    background-color: #F9F9F9;

    gap: 42px;
}